<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title">Random Word Generator</title>
  </head>
  <body>
    <h1 id="title">Random Word Generator</h1>
    <p id="word">Random Word: <%= word.word %></p>
    <p id="pronunciation">Pronunciation: <%= word.pronunciation %></p>
    <p id="definition">Definition: <%= word.definition %></p>
  </body>
</html>
